<div class="container">
    <button (click)="moveSlideBack()"><i class="fas fa-angle-left arrow" style="font-size: 30px;"></i></button>
    <div class="content">
        <div class="slider">
            <div class="inner-container" [ngStyle]="{'left' : slidePosition + '%'}">
                <app-product-card [item]="item" *ngFor="let item of selectedProducts"></app-product-card>
            </div>
        </div>
        <div class="switches-container">
            <button (click)="showFirstSlide()" [ngClass]="{'active-slide-btn' : slidePosition > -100}"></button>
            <button (click)="showSecondSlide()" [ngClass]="{'active-slide-btn' : activateSecondSlide()}"></button>
        </div>
    </div>
    <button (click)="moveSlideNext()"><i class="fas fa-angle-right arrow" style="font-size: 30px;"></i></button>
</div>