<div class="container">
    <button (click)="moveSlideBack()"><i class="fas fa-angle-left arrow" style="font-size: 30px;"></i></button>
    <div class="content">
        <div class="slider">
            <div class="inner-container" [ngStyle]="{'width': switches.length * 100 + '%', 'transform' : 'translateX(' + slidePosition / switches.length + '%)'}">
                <div class="card-container" *ngFor="let item of selectedProducts">
                    <app-product-card [item]="item"></app-product-card>
                </div>
            </div>
        </div>
        <div class="switches-container">
            <button (click)="switchSlide(item.slideNumber)" *ngFor="let item of switches" [ngClass]="{'active-slide-btn' : item.active}"></button>
        </div>
    </div>
    <button (click)="moveSlideNext()"><i class="fas fa-angle-right arrow" style="font-size: 30px;"></i></button>
</div>