%display-flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
%display-flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 70%;
    height: 650px;
    margin: 0 auto;
    padding: 30px 0;
    @extend %display-flex-column;
}

h1 {
    width: 100%;
    font-size: 37.5px;
    font-family: "Montserrat", sans-serif;
    color: rgb( 236, 240, 241 ); 
    padding-bottom: 20px;
    border-bottom: 2px solid #242933; 
}

form {
    width: 100%;
    height: 85%;
    @extend %display-flex-column;
    .fields {
        width: 100%;
        height: 70%;
        @extend %display-flex-row;
    }
    .fields:first-child {
        align-self: flex-start;
    }
    .fields-container {
        width: 45%;
        height: 100%;
        @extend %display-flex-column;
    }
    .entity-container {
        justify-content: flex-start;
    }
    .company {
        margin-top: 0;
    }
    .inn {
        margin-top: 43px;
    }
    label {
        width: 100%;
        font-size: 16.667px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        color: rgb( 236, 240, 241 );
        position: relative;
        input {
            width: 100%;
            height: 20px;
            color: rgb( 236, 240, 241 );
            background: transparent;
            border: 1px solid rgb( 236, 240, 241 );
            border-radius: 3px;
            outline: none;  
        }
    }
    button {
        align-self: flex-start;
        padding: 5px 15px;
        border: 2px solid #d24e49;
        border-radius: 4px;
        background: transparent;
        font-size: 25px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        color: rgb( 236, 240, 241 );
        text-transform: uppercase;  
    }
}

// 
// Mobile styles
// 

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
        height: 720px;
    }
    h1 {
        text-align: center;
    }
    form {
        height: 87%;
        .switch-container {
            align-self: center;
        }
        .fields {
            height: 80%;
            flex-direction: column;
        }
        .fields-container {
            width: 100%;
            height: 45%;
        }
        .phys-container {
            height: 72%;
        }
        .entity-container {
            height: 23%;
            justify-content: space-between;
        }
        label {
            input {
                height: 25px;
            }
        }
        .inn {
            margin-top: 0;
        }
    }
    button {
        width: 100%;
        height: 50px;
    }
}