<header class="header">
    <app-slider></app-slider>
</header>
<div class="popular-products">
    <h2>Популярные товары :</h2>
    <div class="products-slider">
        <app-products-slider [selectedProducts]="popularProducts"></app-products-slider>
    </div>
</div>
<div class="special-offers">
    <div class="inner-container">
        <h1>Специальное предложение</h1>
        <h4>Коротко о спец предложении во всей красе</h4>
        <button routerLink="specialoffer">Получить</button>
    </div>
</div>
<app-sales></app-sales>
