<div class="container">
    <h1>Контактные данные</h1>
    <div class="content-container">
        <form novalidate #form="ngForm">
            <div class="switch-container">
                <label><span class="checkbox" [ngClass]="{'active': user.phys}"></span>
                    <input type="checkbox" [checked]="user.phys" (click)="switchUser()" name="phys" id="phys"><span class="text" #physBtn>физ лицо</span>
                </label>
                <label><span class="checkbox" [ngClass]="{'active': user.entity}"></span>
                    <input type="checkbox" [checked]="user.entity" (click)="switchUser()" name="entity" id="entity"><span class="text" #entityBtn>юр лицо</span>
                </label>
            </div>
            <div class="fields-container">
                <div class="phys-field">
                    <label>E-mail<span class="red">*</span><span class="error red" *ngIf="formSubmitted && email.errors">Форма заполнена неверно</span><br>
                        <input type="email" name="email" required email ngModel #email="ngModel">
                    </label>
                    <label>Фамилия Имя<span class="red">*</span><span class="error red" *ngIf="formSubmitted && name.errors">Форма заполнена неверно</span><br>
                        <input type="name" name="name" ngModel #name="ngModel" required minlength="7">
                    </label>
                    <label>Телефон<span class="red">*</span><span class="error red" *ngIf="formSubmitted && tel.errors">Форма заполнена неверно</span><br>
                        <input type="tel" name="tel" required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" ngModel #tel="ngModel">
                    </label>
                </div>
                <div class="entity-field" *ngIf="user.entity">
                    <label class="company">Наименование компании<span class="red">*</span><span class="error red" *ngIf="formSubmitted && company.errors">Форма заполнена неверно</span><br>
                        <input type="text" name="company" [required]="user.entity" ngModel #company="ngModel">
                    </label>
                    <label class="inn">ИНН<span class="red">*</span><span class="error red" *ngIf="formSubmitted && inn.errors">Форма заполнена неверно</span><br>
                        <input type="text" name="inn" [required]="user.entity" ngModel #inn="ngModel">
                    </label>
                </div>
                <h2>Адрес доставки</h2>
                <div class="address-fields">
                    <label>Город / населенный пункт<span class="red">*</span><span class="error red" *ngIf="formSubmitted && inn.errors">Форма заполнена неверно</span><br>
                        <input type="text" name="city" required minlength="3" pattern="/^[A-zА-яё]+$/i" ngModel #city="ngModel">
                    </label>
                    <div class="row">
                        <label>Улица<span class="red">*</span><span class="error red" *ngIf="formSubmitted && tel.errors">Форма заполнена неверно</span><br>
                            <input type="text" name="city" required pattern="/^[A-zА-яё]+$/i" ngModel #street="ngModel">
                        </label>
                        <label>Дом<span class="red">*</span><span class="error red" *ngIf="formSubmitted && tel.errors">Форма заполнена неверно</span><br>
                            <input type="text" name="street" required pattern="/^\d+$/" ngModel #house="ngModel">
                        </label>
                    </div>
                </div>
            </div>
            <div class="btns-container">
                <a routerLink="/shopping-basket"> <i class="fas fa-angle-left" style="font-size: 18px;"></i> НАЗАД К КОРЗИНЕ</a>
                <button type="submit" routerLink="/order/payment">Продолжить</button>
            </div>
        </form>
        <app-order-info></app-order-info>
    </div>
</div>