%display-flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
%display-flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    color: #ffffff;
    @extend %display-flex-column;
    align-items: flex-start;
}

h3 {
    font-size: 14.5px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    color: rgb( 236, 240, 241 );
}
h1 {
    width: 100%;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: rgb( 236, 240, 241 );
    font-weight: bold;
}

.products-container {
    width: 87%;
    height: 90%;
    margin-left: -20px;
    @extend %display-flex-row;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: "Montserrat",sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
}

.card-container {
    width: 225px;
}

.switch-list-container {
    height: 20px;
    margin-top: 30px;
    @extend %display-flex-row;
    align-self: flex-end;
    button {
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        margin-right: 4px;
        border: 1px solid #bbbfc1;
        border-radius: 100%;
        background: transparent;
        transition: 0.3s;
        outline: none;
        cursor: pointer;
    }
    .active-list {
        background: #ff5e57;
        border-color: #ff5e57;
    }
}

.swipe-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px;
    border-radius: 100%;
    border: 0;
    background: #ff5e57;
    transform-origin: center;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    &:hover {
        transform: scale(1.1);
        right: 48px;
        bottom: 48px;
        border: 1px solid #ecf0f1;
    }
}

@media screen and (max-width: 1400px) {
    .products-container {
        margin-left: -15px;
    }
}

// 
// Mobile styles
// 

@media screen and (max-width: 600px) {
    .heading {
        width: 87%;
        margin: 0 auto;
    }
    .products-container {
        flex-direction: column;
        margin: 0 auto;
    }
    .card-container {
        width: 100%;
    }
}