%display-flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
%display-flex-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    @extend %display-flex-column;
    justify-content: space-around;
}

.main-content {
    width: 100%;
    @extend %display-flex-row;
    justify-content: space-around;
    align-items: flex-start;
}

.filter {
    width: 19%;
}

.content-container {
    width: 70%;
}

.sales-container {
    width: 100%;
}

.filter-btn {
    width: 170px;
    height: 30px;
    border-radius: 4px;
    background-color: #ff5e57;
    border: 0;
    transition: 0.3s;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
    cursor: pointer;
    &:hover {
        background-color: #ff534a;
    }
}

.filter-btn-active {
    height: 0;
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
    .content-container {
        width: 74%;
    }
}

// 
// Tablets styles
// 

@media screen and (min-width: 601px) and (max-width: 770px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .filter {
        width: 65%;
    }
    .content-container {
        width: 90%;
        margin-top: 30px;
    }
}

// IPad Pro

@media screen and (min-width: 1000px) and (max-width: 1040px) {
    .content-container {
        width: 60%;
    }
}

// 
// Mobile styles
// 

@media screen and (max-width: 600px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .filter {
        width: 90%;
    }
    .content-container {
        width: 90%;
        margin-top: 30px;
    }
}