<div class="container">
    <h1>Контакты</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3267952670412!2d37.769292484822515!3d55.752825111297625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acabb38c96b31%3A0x73e73fe579f6fb91!2zMy3QuSDQn9C10YDQvtCy0LAg0J_QvtC70Y8g0L_RgC3QtCwgNNCwLCDQnNC-0YHQutCy0LAsIDExMTE0MQ!5e0!3m2!1sru!2sru!4v1564689173473!5m2!1sru!2sru" width="100%" height="372px" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h2>Москва, 3-ий проезд Перова Поля, 4А</h2>
    <p>Пн-Пт: 10:00 - 19:00<br>
    Сб-Вс: выходные<br>
    <span class="email">info@insalut.com</span><br><br>
    Внимание! Заказы через сайт принимаются круглосуточно по выходным и в праздники!
    </p>
</div>