<div class="container">
    <h1>Сертификаты качества</h1>
    <p>Сертифика́т соотве́тствия — документ, удостоверяющий соответствие объекта требованиям
         технических регламентов, документам по стандартизации или условиям договоров.<br><br>Вся продукци нашей
         компании сертифицирована и полностью безопасна, при соблюдении стандартных правил использования.</p>
    <div class="certificates-container">
        <img [src]="item" *ngFor="let item of certificates" alt="">
    </div>
</div>